@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,700);
body {
  background-color: #E2F7FF;
  font-family: 'Libre Franklin', sans-serif;
  width: 80%;
  margin: 0 auto;
  color: #4A5999; }

.section-1 {
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px; }

a {
  color: #4A5999;
  text-decoration: none;
  width: 100%;
  height: 100%; }
  a#top-download, a#lower-download {
    pointer-events: none; }

.download-button {
  margin: 0px 5px 0px 0px;
  outline: none;
  transition: background-color 0.25s;
  padding: 10px;
  border: 1px solid #4A5999;
  width: 200px;
  text-align: center;
  background-color: #ffffff;
  color: #4A5999; }
  .download-button:hover {
    background-color: #4A5999;
    cursor: pointer; }
    .download-button:hover a {
      color: #ffffff !important; }

.zoom-button, .reset-button, .select {
  outline: none;
  transition: background-color 0.25s;
  padding: 5px 10px;
  margin: 0 2.5px 5px 0;
  border: 1px solid #4A5999;
  text-align: center;
  background-color: #ffffff;
  color: #4A5999;
  font-size: 16px; }
  .zoom-button:hover, .reset-button:hover, .select:hover {
    background-color: #4A5999;
    cursor: pointer;
    color: #ffffff; }

.reset-button {
  margin-top: 12px; }

.row-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  @media only screen and (max-width: 1024px) {
    .row-wrapper {
      display: block; } }

.form-wrapper {
  display: block;
  margin-bottom: 40px;
  width: 35%;
  margin-right: 20px; }

.check-wrap {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #ffffff; }
  .check-wrap .check-name {
    font-size: 12px;
    margin-left: 5px; }

.button-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #ffffff; }
  .button-section .button-wrap {
    width: 48%; }
    .button-section .button-wrap .range {
      width: 90%; }
  .button-section.off {
    pointer-events: none; }
    .button-section.off select {
      color: #999999 !important;
      border: 1px solid #999 !important; }

.button-label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400; }

#button-wrap {
  display: flex; }

#text {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  width: 150px;
  border: solid 1px #4A5999;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: 700;
  color: #4A5999; }
  #text #no-track {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-style: italic; }

#ex {
  padding-bottom: 2px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: #ffffff;
  width: 17px;
  height: 14px;
  border-radius: 1em;
  border: solid 1px #4A5999;
  text-align: center;
  color: #4A5999;
  cursor: pointer; }
  #ex:hover {
    background-color: #4A5999;
    color: #ffffff; }

#map-wrap {
  width: 60%; }
  @media only screen and (max-width: 1024px) {
    #map-wrap {
      width: 100%; } }

#map {
  background-color: #FFF0DF;
  overflow: hidden;
  margin-bottom: 40px;
  border: 2px #4A5999 solid;
  height: 450px;
  max-width: 800px; }

.hurricane {
  outline: none;
  fill: #222;
  cursor: pointer; }
  .hurricane:hover {
    stroke: #606AD4 !important;
    stroke-width: 2px !important; }
  .hurricane.selected {
    stroke: #1F2ECC !important;
    stroke-width: 2px !important;
    stroke-linecap: round; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 60px; }
  @media only screen and (max-width: 1024px) {
    table {
      font-size: 12px; } }
  table th {
    border-bottom: 1px solid black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    padding: 3px; }
    @media only screen and (max-width: 1024px) {
      table th {
        font-size: 10px; } }
    table th:hover {
      background-color: #4A5999;
      color: #ffffff; }
    table th.active {
      background-color: #ffffff;
      color: #4A5999; }
  table td {
    border: 1px #ffffff solid;
    width: 10%;
    max-width: 200px;
    padding: 5px;
    background-color: #E2F7FF; }
  table tbody tr {
    cursor: pointer; }
    table tbody tr:hover td {
      background-color: #4A5999;
      color: #ffffff; }

.actual-link {
  color: #f0f; }
  .actual-link:hover {
    text-decoration: underline; }


/*# sourceMappingURL=bundle.css.map*/